<div class="container">
  <!-- HERO SECTION -->
  <div class="hero">
    <div class="hero-header">
      <h1>Wygodne narzędzia do księgowości <br />i fakturowania online</h1>
      <div class="small">
        Zarządzaj swoim biznesem z każdego miejsca o dowolnej porze
      </div>
      <a class="hero-btn">Wypróbuj za darmo</a>
    </div>
    <a class="mouse-scroll-btn">Dowiedz się więcej!</a>
    <div class="triangle"></div>
  </div>
  <!-- TILES SECTION -->
  <div class="tiles">
    <div class="tiles-header">
      <p class="tiles-header-p">Jeden system, wiele możliwości</p>
      <small class="tiles-header-small"
        >Prowadź księgowość online i zyskaj niezależność w zarządzaniu
        firmą!</small
      >
    </div>
    <div class="tiles-wrapper">
      <div class="tiles-tile">
        <div class="tiles-tile-content">
          <div class="tiles-tile-content-body">
            <h2>Zarządzanie sprzedażą</h2>
            <ul>
              <li>Fakturowanie</li>
              <li>Magazyn</li>
              <li>CRM</li>
              <li>e-Commerce</li>
            </ul>
          </div>
          <div class="tiles-tile-content-footer">
            <a class="tile-btn">Zobacz więcej</a>
          </div>
        </div>
      </div>
      <div class="tiles-tile">
        <div class="tiles-tile-content">
          <div class="tiles-tile-content-body">
            <h2>Zarządzanie sprzedażą</h2>
            <ul>
              <li>Generator dokumentów</li>
              <li>Integracje z e-ZUS i MF</li>
              <li>Ewidencja czasu pracy</li>
              <li>Elektroniczne akta osobowe</li>
            </ul>
          </div>
          <div class="tiles-tile-content-footer">
            <a class="tile-btn">Zobacz więcej</a>
          </div>
        </div>
      </div>
      <div class="tiles-tile">
        <div class="tiles-tile-content">
          <div class="tiles-tile-content-body">
            <h2>Kadry i płace</h2>
            <ul>
              <li>KPiR, Ryczałt, VAT</li>
              <li>JPK, e-Deklaracje</li>
              <li>Kasa / Bank</li>
              <li>Środki trwałe</li>
            </ul>
          </div>
          <div class="tiles-tile-content-footer">
            <a class="tile-btn">Zobacz więcej</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PROFIT SECTION -->
  <div class="profit">
    <div class="wrapper-half">
      <div class="panel-primary">
        <div class="panel-body">
          <div class="panel-body-header">
            <h3>Z nami zyskujesz więcej</h3>
            <small>Zapewniamy Ci</small>
          </div>
          <div class="dotted-line">
            <svg>
              <polyline
                class="visible-xs-block"
                points="0,2 300,2, 380,160 460,2 767,2"
                fill="none"
                stroke-width="2"
                stroke-linecap="round"
                stroke="#fff"
                stroke-dasharray="1, 10"
              ></polyline>
              <polyline
                class="visible-sm-block"
                points="0,2 350,2, 490,80 645,2 991,150"
                fill="none"
                stroke-width="2"
                stroke-linecap="round"
                stroke="#fff"
                stroke-dasharray="1, 10"
              ></polyline>
              <polyline
                class="visible-md-block"
                points="0,2 160,2 280,70 400,2 600,150"
                fill="none"
                stroke-width="2"
                stroke-linecap="round"
                stroke="#fff"
                stroke-dasharray="1, 10"
              ></polyline>
              <polyline
                class="visible-lg-block"
                points="0,2 2075,2 2230,80 2385,2 2600,170"
                fill="none"
                stroke-width="2"
                stroke-linecap="round"
                stroke="#fff"
                stroke-dasharray="1, 10"
                transform="translate(-1907.5)"
              ></polyline>
            </svg>
          </div>
          <ul>
            <li>
              <img src="/assets/icons/chair.svg" alt="Wygoda pracy" />
              <h4>Wygodę pracy</h4>
            </li>
            <li class="down">
              <img src="/assets/icons/phone-in-hand.svg" alt="Mobilność" />
              <h4>Mobilność</h4>
            </li>
            <li>
              <img
                src="/assets/icons/padlock-shield.svg"
                alt="Bezpieczeństwo"
              />
              <h4>Bezpieczeństwo</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper-half">
      <div class="panel-shadow">
        <div class="panel-body">
          <div class="panel-body-header">
            <h3>Dodatkowo gwarantujemy</h3>
            <small>ochronę prawną w zakresie</small>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img
                src="/assets/icons/update-gear.svg"
                alt="Bezpłatne aktualizacji systemu"
              />
              <h4>Bezpłatnych aktualizacji systemu</h4>
              <p>
                Rozwijamy serwis poprzez regularne aktualizacje zgodne z
                obowiązującym stanem prawnym i potrzebami naszych klientów.
              </p>
            </div>
            <div class="col-sm-4">
              <img src="/assets/icons/shield.svg" alt="Bezpieczeństwo danych" />
              <h4>Bezpieczeństwa informacji</h4>
              <p>
                Dane przechowujemy w profesjonalnych serwerowniach spełniających
                najwyższe standardy bezpieczeństwa.
              </p>
            </div>
            <div class="col-sm-4">
              <img
                src="/assets/icons/desktop-padlock.svg"
                alt="Bezpieczeństwo danych"
              />
              <h4>Ochrony danych osobowych</h4>
              <p>
                Dostosowaliśmy zasady działania systemu do wymogów stawianych w
                ustawie o ochronie danych osobowych.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- STATISTICS SECTION -->
  <div class="statistics">
    <div class="container">
      <div class="row">
        <div class="statistics-header">
          <h2><strong>wFirma</strong> w liczbach</h2>
          <small>Postaw na doświadczenie</small>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div class="counter">140</div>
          <small>tys.</small>
          <p>zarejestrowanych użytkowników</p>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="counter">13</div>
          <small>lat</small>
          <p>na rynku księgowości</p>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="counter">197</div>
          <small>tys.</small>
          <p>wysłanych e-deklaracji</p>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="counter">19</div>
          <small>mln</small>
          <p>wystawionych faktur</p>
        </div>
      </div>
    </div>
  </div>
  <!-- EXPERTS SECTION -->
  <div class="experts">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="experts-header">
            <h3>Skorzystaj z pomocy naszych ekspertów</h3>
            <small
              >publikujących wartościowe artykuły na największych portalach
              branżowych</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li>
              <a>
                <img src="/assets/logos/poradnik-przedsiebiorcy-2.svg" alt="" />
              </a>
            </li>
            <li>
              <a>
                <img src="/assets/logos/rzeczpospolita.png" alt="" />
              </a>
            </li>
            <li>
              <a>
                <img src="/assets/logos/bankier-pl.png" alt="" />
              </a>
            </li>
            <li>
              <a>
                <img src="/assets/logos/money-pl.png" alt="" />
              </a>
            </li>
            <li>
              <a>
                <img src="/assets/logos/podatki-biz.png" alt="" />
              </a>
            </li>
            <li>
              <a>
                <img src="/assets/logos/infor.png" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- MANAGERS SECTION -->
  <div class="managers">
    <div class="container">
      <div class="row">
        <div class="manager" id="manager-1">
          <div class="left-column">
            <img src="/assets/managers/bok.png" alt="" />
          </div>
          <div class="center-column">
            <div class="content">
              <p class="manager-name">Angelika Borowska</p>
              <p>
                Stale wspieramy naszych klientów poprzez indywidualne podejście
                do każdej sprawy. Do tej pory udzieliliśmy ponad 40 000 porad z
                zakresu księgowości, podatków, kadr i prawa gospodarczego.
                Dostarczamy niezbędną wiedzę, która bezpośrednio przekłada się
                na efektywne zarządzanie firmą.
              </p>
              <img src="/assets/managers/bok-sign.png" alt="" />
              <div>Kierownik Biura Obsługi Klienta</div>
            </div>
          </div>
        </div>
        <div class="manager" id="manager-2" style="display: none">
          <div class="left-column">
            <img src="/assets/managers/quality.png" alt="" />
          </div>
          <div class="center-column">
            <div class="content">
              <p class="manager-name">Bartłomiej Lazarowicz</p>
              <p>
                Dbamy o dostarczanie najwyższej jakości kompleksowego narzędzia
                do prowadzenia księgowości firmy. Przestrzegamy, aby wszystkie
                procesy, odbywające się w ramach modyfikacji systemu,
                przeprowadzane były zgodnie z polityką jakości ISO 9001.
              </p>
              <img src="/assets/managers/quality-sign.svg" alt="" />
              <div>Kierownik Działu Jakości</div>
            </div>
          </div>
        </div>
        <div class="manager" id="manager-3" style="display: none">
          <div class="left-column">
            <img src="/assets/managers/development.png" alt="" />
          </div>
          <div class="center-column">
            <div class="content">
              <p class="manager-name">Beata Kostrzycka</p>
              <p>
                Zapewniamy innowacyjność serwisu popartą wieloletnim
                doświadczeniem w branży księgowości i zarządzania biznesem. Cały
                czas monitorujemy zmiany oraz trendy zachodzące w sposobie
                prowadzenia i rozwijania firmy.
              </p>
              <img src="/assets/managers/development-sign.svg" alt="" />
              <div>Kierownik Działu Rozwoju</div>
            </div>
          </div>
        </div>
        <div class="manager" id="manager-4" style="display: none">
          <div class="left-column">
            <img src="/assets/managers/legal.png" alt="" />
          </div>
          <div class="center-column">
            <div class="content">
              <p class="manager-name">Ewa Szpytko-Waszczyszyn</p>
              <p>
                Zapewniamy regularne aktualizacje systemu, które odpowiadają na
                potrzeby naszych klientów i są zgodne z obowiązującym stanem
                prawnym. Gwarantujemy bezpieczeństwo korzystania z serwisu, nad
                którym nieustannie czuwają eksperci z zakresu prawa.
              </p>
              <img src="/assets/managers/legal-sign.svg" alt="" />
              <div>Kierownik Działu Prawnego</div>
            </div>
          </div>
        </div>
        <div class="right-column">
          <div class="btn-group">
            <button class="btn-slider"><</button>
            <button class="btn-slider">></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- OPINIONS SECTION -->
  <div class="opinions">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="opinions-header">
            <h3>Poznaj opinie użytkowników, którzy nam zaufali</h3>
            <small
              >Nasze starania zyskały uznanie wśród wielu klientów. Dołącz do
              grona zadowolonych przedsiębiorców!</small
            >
          </div>
        </div>
      </div>
      <div class="opinions-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="opinion">
              Główną zaletą systemu jest łatwy i przejrzysty panel klienta.
              Posługiwanie się nim nie sprawi zatem absolutnie żadnych problemów
              nawet największemu laikowi komputerowemu. Intuicyjne przejścia i
              estetyczny wygląd tylko ułatwiają użytkowanie.
              <br /><br />Justyna
            </div>
          </div>
          <div class="switch-icons">
            <span class="switch-icon active"></span>
            <span class="switch-icon"></span>
            <span class="switch-icon"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
