<nav #nav [class.is-hover]="hover" [class.is-fixed]="fixed">
  <div class="container">
    <div class="nav-header">
      <a class="nav-header-link"
        ><svg
          version="1.1"
          id="Warstwa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 682 200"
          style="enable-background:new 0 0 682 200; height: 52px;"
          xml:space="preserve"
        >
          <style type="text/css">
            .st0 {
              fill: #375ebc;
            }

            .st1 {
              fill: #333132;
            }

            .st2 {
              fill: #ffffff;
            }

            .st3 {
              fill: #a7a8ab;
            }
          </style>
          <g>
            <g>
              <rect
                x="2.1"
                y="2.1"
                class="st0"
                width="195.8"
                height="195.8"
              ></rect>
            </g>
            <path
              class="st1"
              d="M273,108v34.5h-14.5V59.2h55.6v13.1H273v22.6h32.2V108L273,108L273,108z"
            ></path>
            <path
              class="st1"
              d="M332.4,56.3c4.5,0,8.1,3.6,8.1,8.1c0,4.8-3.6,8.1-8.1,8.1c-4.6,0-8.1-3.3-8.1-8.1
                                  C324.3,59.8,327.7,56.3,332.4,56.3z M339.4,142.4h-14.1V83h14.1V142.4z"
            ></path>
            <path
              class="st1"
              d="M388.6,95.6c-2.6-0.6-4.3-0.8-5.6-0.8c-5.7,0-10.7,2.5-12.4,6.4v41.2h-14V83h9.2l1.7,4.6
      		                    c4.8-3.7,10.6-5.6,16.4-5.6c1.9,0,3.1,0.1,7,0.8L388.6,95.6z"
            ></path>
            <path
              class="st1"
              d="M415.5,142.4h-14V83h9.2l1.7,4.6c4.8-3.7,10.6-5.6,16.4-5.6c9.2,0,14.6,2.6,18.1,6.7l1.3-1.1
                                  c4.8-3.7,10.6-5.6,16.4-5.6c22.3,0,23.2,15.8,23.2,29.7v30.7h-14.4v-30.7c0-7.4,1-17.5-9.5-17.5c-5.7,0-10.5,3.2-12.5,6.4
                                  c0.5,3.6,0.5,7.4,0.5,11v30.7h-14.3v-30.7c0-7.4,1-17.5-9.5-17.5c-5.8,0-10.6,3.2-12.6,6.4V142.4z"
            ></path>
            <path
              class="st1"
              d="M547.5,107.1v35.3h-9.4l-1.4-4.8c-4.8,3.8-10.8,5.8-15.6,5.8c-18.3,0-21.3-12.6-21.3-18.3
                                  c0-15.9,12.7-19.4,24.8-19.4c3.1,0,5.9,0.4,8.7,0.7v-1c-0.2-9.7-3.2-11.3-9.7-11.3c-3,0-10.2,1.7-16,4.2L503.2,88
                                  c6.8-3.4,13.3-5.6,19.7-5.9C545.8,80.9,547.5,94.5,547.5,107.1z M533.5,117.8c-1.9-0.2-4.6-0.6-7.5-0.6c-5.9,0-12.8,1.3-12.8,7
                                  c0,5.1,3.9,7.5,8.4,7.5c5.7,0,10-3.8,11.9-6.9L533.5,117.8L533.5,117.8z"
            ></path>
            <path
              class="st1"
              d="M573.2,125.2c4.9,0,8.9,4,8.9,9s-4,8.9-8.9,8.9s-9-3.9-9-8.9S568.2,125.2,573.2,125.2z"
            ></path>
            <path
              class="st1"
              d="M612.5,141.1v25.1h-14V83h9.2l1.7,4.6c4.8-3.7,10.6-5.6,16.4-5.6c22.1,0,29,17.9,29,30.7
                                  c0,12.5-6.8,30.7-29.6,30.7C620.4,143.4,616.2,142.4,612.5,141.1z M612.5,100.7v27.2c3.1,2.1,7.7,3.3,11.6,3.3
                                  c13.9,0,16.6-13.1,16.6-18.5c0-4.6-1.9-18.5-15.7-18.5C618.9,94.2,614.8,97.2,612.5,100.7z"
            ></path>
            <path class="st1" d="M679.9,142.4h-14.1V59.2h14.1V142.4z"></path>
            <g>
              <path
                class="st2"
                d="M160.5,60.1l-38.9,82.7H120l-20.6-42.3l-20.5,42.4h-1.6L39,60.2h21.3l18.1,42.9l20-44.3h1.6l21,44.3
      			                    l17.9-42.9h21.6V60.1z"
              ></path>
            </g>
            <g>
              <g>
                <g>
                  <path
                    class="st3"
                    d="M269.6,173.6c5.2,0,8.5,2.3,8.5,6c0,2.6-1.6,4.6-4.1,5.2c3.1,0.6,5,2.9,5,6c0,4.1-3.4,6.6-9,6.6h-11.3
                                              v-23.8L269.6,173.6L269.6,173.6z M264,183.2h5.3c2,0,3.3-1,3.3-2.7c0-1.6-1.3-2.6-3.3-2.6H264V183.2z M264,193h5.3
                                              c2.6,0,4.1-1.1,4.1-2.9c0-1.7-1.5-2.8-4.1-2.8H264V193z"
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    class="st3"
                    d="M294.4,197.4H289v-7.6l-8.8-16.3h5.4l6.1,10.7l6-10.7h5.4l-8.7,16.1V197.4z"
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    class="st3"
                    d="M336.4,197.4v-16.1l-6.3,13.7h-3.5l-6.3-13.7v16.1h-4.9v-23.8h6l7,14.6l6.9-14.6h6v23.8L336.4,197.4
      					                    L336.4,197.4z"
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    class="st3"
                    d="M371.2,185.5c0,6.9-5.5,12.2-12.8,12.2s-12.8-5.2-12.8-12.2c0-6.9,5.5-12.1,12.8-12.1
                                              C365.7,173.4,371.2,178.6,371.2,185.5z M351.1,185.5c0,4.2,3.4,7.5,7.4,7.5s7.2-3.3,7.2-7.5s-3.2-7.4-7.2-7.4
                                              C354.4,178.1,351.1,181.3,351.1,185.5z"
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    class="st3"
                    d="M387.6,189.8c0,5-3.1,7.9-8,7.9c-3.2,0-5.8-1.4-7.8-3.7l2.5-3.8c1.7,1.8,3.6,2.7,5,2.7
      					                    c1.8,0,2.9-1.1,2.9-3.1v-11.6H374v-4.6h13.6V189.8z"
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    class="st3"
                    d="M417.1,185.5c0,6.9-5.5,12.2-12.8,12.2s-12.8-5.2-12.8-12.2c0-6.9,5.5-12.1,12.8-12.1
                                              C411.6,173.4,417.1,178.6,417.1,185.5z M397,185.5c0,4.2,3.4,7.5,7.4,7.5s7.2-3.3,7.2-7.5s-3.2-7.4-7.2-7.4S397,181.3,397,185.5
                                              z"
                  ></path>
                </g>
              </g>
            </g>
          </g></svg
      ></a>
    </div>
    <div class="nav-menu">
      <ul>
        <li><a>Funkcje</a></li>
        <li><a>Usługi</a></li>
        <li><a>Cennik</a></li>
        <li><a>Pomoc</a></li>
      </ul>
    </div>
    <div class="nav-options">
      <a class="nav-login">
        Zaloguj się
        <span class="padlock-icon"></span>
      </a>
      <a class="nav-register">
        Załóż konto
        <span class="user-icon"></span>
      </a>
    </div>
  </div>
</nav>
