<nav #nav [class.is-hover]="hover" [class.is-fixed]="fixed">
  <div class="container">
    <div class="nav-header">
      <a class="nav-header-link"></a>
    </div>
    <div class="nav-menu">
      <ul>
        <li><a>Funkcje</a></li>
        <li><a>Usługi</a></li>
        <li><a>Cennik</a></li>
        <li><a>Pomoc</a></li>
      </ul>
    </div>
    <div class="nav-options">
      <a class="nav-login">
        Zaloguj się
        <span class="padlock-icon"></span>
      </a>
      <a class="nav-register">
        Załóż konto
        <span class="user-icon"></span>
      </a>
    </div>
  </div>
</nav>
