@import '../../styles.scss';

nav {
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 5px 0;
  height: 86px;
  transition: background-color 0.4s ease-in, display 0.4s ease-in,
    height 0.3s ease-in;
  font-size: 14px;

  a {
    cursor: pointer;
  }

  &.is-hover {
    background-color: $nav-hover;
    color: $link-hover;
    transition: background-color 0.4s ease-in-out;

    .container > .nav-options > .nav-login > .padlock-icon {
      background-position: -43px -10px;
    }

    .container > .nav-header > .nav-header-link > .st-1 {
      fill: white !important;
    }
  }

  &.is-fixed {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    height: 76px;
    padding: 0;
    transition: 0.3s ease-in-out;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: transparent;
    margin: 0 88px;

    @media (min-width: 1200px) {
      width: 1170px;
    }

    .nav-header {
      display: flex;
      align-self: center;
      width: 210px;
      height: 54px;
      cursor: pointer;

      &-link {
        .st0 {
          fill: #593196;
        }

        .st1 {
          fill: #333132;
        }

        .st2 {
          fill: #ffffff;
        }

        .st3 {
          fill: #a7a8ab;
        }
      }
    }

    .nav-menu {
      display: flex;
      margin-left: 40px;

      ul {
        display: inherit;
        flex-direction: row;
        list-style-type: none;

        li {
          margin: 0 15px 0 45px;
          text-align: center;
          display: flex;
          justify-content: center;

          &:first-of-type {
            margin: 0 15px 0 0;
          }

          @include breakpoint-down(lg) {
            margin-right: 40px;
          }

          a {
            align-self: center;
            padding: 18px 0 15px;
            position: relative;

            &::after {
              content: '';
              visibility: hidden;
              position: absolute;
              background-color: $main-theme;
              width: 100%;
              height: 3px;
              left: 0;
              bottom: 0;
              transition: 0.1s;
            }

            &:hover::after {
              visibility: visible;
              transition: 0.1s;
            }
          }
        }
      }
    }

    .nav-options {
      display: flex;
      align-self: center;

      .nav-login {
        padding: 15px;
        width: 131px;

        .padlock-icon {
          background: url(/assets/padlock-sprite-icon.png) -10px -10px no-repeat;
          display: inline-block;
          height: 17px;
          margin: 0 5px;
          position: relative;
          top: 2px;
          width: 13px;
        }
      }

      .nav-register {
        width: 157px;
        height: 53px;
        background-color: $main-theme;
        padding: 15px;
        text-align: center;
        color: white;
        transition: 0.3s;

        &:hover {
          background-color: $main-theme-dark;
          transition: 0.3s;
        }

        .user-icon {
          background: url(/assets/icons/user.png) 0 -17px no-repeat;
          display: inline-block;
          height: 17px;
          margin: 0 5px;
          position: relative;
          top: 2px;
          width: 15px;
        }
      }
    }
  }
}
