$nav-hover: #fff;
$main-theme: #375ebc;
$main-theme-dark: #29468a;
$link-hover: #374252;
$nav-content-hover: #4b5a71;
$tile-color-left: #f75f30;
$tile-color-middle: #00b75f;
$tile-color-right: #375ebc;

/* poppins-regular - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/poppins-v6-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
    url('/assets/fonts/poppins-v6-latin-ext_latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/poppins-v6-latin-ext_latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/assets/fonts/poppins-v6-latin-ext_latin-regular.svg#Poppins')
      format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/poppins-v6-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Poppins Medium'), local('Poppins-Medium'),
    url('/assets/fonts/poppins-v6-latin-ext_latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/poppins-v6-latin-ext_latin-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-500.woff') format('woff'),
    /* Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('/assets/fonts/poppins-v6-latin-ext_latin-500.svg#Poppins')
      format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/poppins-v6-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
    url('/assets/fonts/poppins-v6-latin-ext_latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/poppins-v6-latin-ext_latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-600.woff') format('woff'),
    /* Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('/assets/fonts/poppins-v6-latin-ext_latin-600.svg#Poppins')
      format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/poppins-v6-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
    url('/assets/fonts/poppins-v6-latin-ext_latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/poppins-v6-latin-ext_latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-700.woff') format('woff'),
    /* Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('/assets/fonts/poppins-v6-latin-ext_latin-700.svg#Poppins')
      format('svg'); /* Legacy iOS */
}

.container {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100%;

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
  }
}
