$nav-hover: #fff;
$main-theme: #593196;
$main-theme-dark: #4c2a80;
$link-hover: #374252;
$tile-color-left: #f75f30;
$tile-color-middle: #00b75f;
$tile-color-right: $main-theme;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/* poppins-regular - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/poppins-v6-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
    url('/assets/fonts/poppins-v6-latin-ext_latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/poppins-v6-latin-ext_latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/assets/fonts/poppins-v6-latin-ext_latin-regular.svg#Poppins')
      format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/poppins-v6-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Poppins Medium'), local('Poppins-Medium'),
    url('/assets/fonts/poppins-v6-latin-ext_latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/poppins-v6-latin-ext_latin-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-500.woff') format('woff'),
    /* Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('/assets/fonts/poppins-v6-latin-ext_latin-500.svg#Poppins')
      format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/poppins-v6-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
    url('/assets/fonts/poppins-v6-latin-ext_latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/poppins-v6-latin-ext_latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-600.woff') format('woff'),
    /* Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('/assets/fonts/poppins-v6-latin-ext_latin-600.svg#Poppins')
      format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/poppins-v6-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
    url('/assets/fonts/poppins-v6-latin-ext_latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('/assets/fonts/poppins-v6-latin-ext_latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-700.woff') format('woff'),
    /* Modern Browsers */
      url('/assets/fonts/poppins-v6-latin-ext_latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('/assets/fonts/poppins-v6-latin-ext_latin-700.svg#Poppins')
      format('svg'); /* Legacy iOS */
}

@mixin breakpoint-down($size) {
  @if $size== 'sm' {
    @media screen and (max-width: $sm) {
      @content;
    }
  } @else if $size== 'md' {
    @media screen and (max-width: $md) {
      @content;
    }
  } @else if $size== 'lg' {
    @media screen and (max-width: $lg) {
      @content;
    }
  } @else if $size== 'xl' {
    @media screen and (max-width: $xl) {
      @content;
    }
  }
}

@mixin breakpoint-up($size) {
  @if $size== 'sm' {
    @media screen and (min-width: $sm) {
      @content;
    }
  } @else if $size== 'md' {
    @media screen and (min-width: $md) {
      @content;
    }
  } @else if $size== 'lg' {
    @media screen and (min-width: $lg) {
      @content;
    }
  } @else if $size== 'xl' {
    @media screen and (min-width: $xl) {
      @content;
    }
  }
}

@mixin breakpoint-between($sizeSmall, $sizeBig) {
  @if $sizeSmall== 'sm' {
    @if $sizeBig== 'md' {
      @media (max-width: $md) and (min-width: $sm) {
        @content;
      }
    } @else if $sizeBig == 'lg' {
      @media (max-width: $lg) and (min-width: $sm) {
        @content;
      }
    } @else if $sizeBig == 'xl' {
      @media (max-width: $xl) and (min-width: $sm) {
        @content;
      }
    }
  } @else if $sizeSmall== 'md' {
    @if $sizeBig== 'sm' {
      @media (max-width: $md) and (min-width: $sm) {
        @content;
      }
    } @else if $sizeBig == 'lg' {
      @media (max-width: $lg) and (min-width: $md) {
        @content;
      }
    } @else if $sizeBig == 'xl' {
      @media (max-width: $xl) and (min-width: $md) {
        @content;
      }
    }
  } @else if $sizeSmall== 'lg' {
    @if $sizeBig== 'sm' {
      @media (max-width: $lg) and (min-width: $sm) {
        @content;
      }
    } @else if $sizeBig == 'md' {
      @media (max-width: $lg) and (min-width: $md) {
        @content;
      }
    } @else if $sizeBig == 'xl' {
      @media (max-width: $xl) and (min-width: $lg) {
        @content;
      }
    }
  } @else if $sizeSmall== 'xl' {
    @if $sizeBig== 'sm' {
      @media (max-width: $xl) and (min-width: $sm) {
        @content;
      }
    } @else if $sizeBig == 'md' {
      @media (max-width: $xl) and (min-width: $md) {
        @content;
      }
    } @else if $sizeBig == 'lg' {
      @media (max-width: $xl) and (min-width: $lg) {
        @content;
      }
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100%;

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
  }
}
